.container {
    font-size: 56px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 64px;
    font-weight: bold;
}

.red-text {
    color: $color-lastfm-red;
}

@media only screen and (max-width: 600px) {
    .container {
        font-size: 28px;
    }

    .title {
        font-size: 32px;
    }
}
